.image-grid-container {
    overflow: hidden;
    margin-bottom: 3rem;
}
.image_grid .col-xs-6, .image_grid .col-xs-12 {padding:0;    display: block;}

.image_grid figure {background-size:cover;position:absolute;top:0; bottom:0; left:0; right:0;}
.image_group > div {position:relative;}
.image-group-1 > div {width:100%; height:400px;}
/* .image-group-1 > div > figure:nth-last-of-type(2) {top:-400px;} */
.image-group-3 > div, .image-group-2 > div, .image-group-4 > div {width:100%; height:200px;} 
/* .image-group-3 figure:nth-last-of-type(2), .image-group-2 figure:nth-last-of-type(2), .image-group-4 figure:nth-last-of-type(2) {top:-200px}  */
.image-group > div > figure:nth-last-of-type(2) {display:none;}
/* .image-group-2 figure, .image-group3 figure, .image-group-4 figure {z-index:2 !important;} */

.image_grid * {overflow: hidden;}

@media screen and (min-width: 1200px) {
    .image-grid-container {
        margin-bottom: 4.5rem;
    }
}