/* Popover styles */
#hourPopover {cursor:pointer;}
.popover {top: 5px !important;}
.popover-inner {padding:10px;}
    .popover-inner strong, .popover h3{opacity: .9;}
    .popover-header, .popover-body {font-family: 'FreightText Pro',serif;}
    .popover-header {font-size:1.6rem; margin-top:0; margin-bottom:5px; }
    .popover-body {font-size:1.4rem;}