#searchComponent {position:absolute; top:0;width:100%;background:#fff;}
#searchComponent > .container {position:relative; top:54px;}
.home #searchComponent > .container {top:106px;}
#searchComponent .search-bar {position:relative; z-index:5; border-radius: 15px;text-indent: 8px;}
#theResults img{max-width:100%;}
#theResults {overflow:hidden}
#searchComponent svg {position:relative; left:-24px; z-index:5; color:#333;}
#searchPage {
    display: block;
    float: left;
    width: 100%;
}
#searchPage iframe {max-width:100%;}
#theResults > div > article:last-of-type { margin-bottom: 90px;}
#searchComponent textarea:focus, #searchComponent input:focus{
    outline: none !important;
}
#searchComponent .panel {page-break-inside: avoid;box-shadow:none;}

@media screen and (max-width:991px) {
    #searchComponent {display:none; position:absolute; top:0px !important; right: 0; left:0; bottom:0;background-color:#fff; z-index:4;}
    #searchComponent .search-bar {top:80px; border:solid 1px #333}
    #theResults {top:80px; position:relative;}
    #searchComponent .search-bar {    width: 100%;
        border: 0;
        border-bottom: 3px solid #4E5859;
        font-family: 'Flama',sans-serif;
        font-size: 1.4rem;
    }
    #searchComponent svg {
        position: relative;
        z-index: 5;
        color: #333;
        float: left;
        font-size: 22px;
        margin-left: 5%;
        margin-top: 2px;
        left:0;
    }
    #searchComponent .search-bar {
        width: 75%;
        border: 0;
        border-bottom: 3px solid #4E5859;
        font-family: 'Flama',sans-serif;
        font-size: 1.4rem;
        float: left;
        border-radius: 0;
        top:0;
    }
    #searchComponent > div > div {
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: 45px;
        margin-bottom:15px;
    }
    .home #searchComponent > div > div {
        top:80px;
    }
}