/* Global Styles */
@font-face {
    font-family: Flama;
    src: url(../fonts/Flama-Basic.ttf);
  }
body{
    font-family:'FreightText Pro',serif;
    margin:0;
    font-size:1.2rem;
}
div#root{
    height:100vh
}
#site{
    box-sizing:border-box;
    position:relative;
    min-height:100%;
    width:100%;
}
.container {
    width: 100%;
}
.padded{
    padding:60px 0
}

strong{
    font-weight:900
}

h1 {
    font-family: 'Flama', sans-serif;
}
h2{
    text-transform:uppercase;
    font-size:2rem;
}
h3 {
    font-family: 'Flama', sans-serif;
    font-size: 1.8rem;
}
h4 {
    font-family: 'Flama', sans-serif;
}

.single-page .content,
.contact .content,
.blog .content,
.single-blog .content{
    margin-top:150px;
    padding:0
}

.halcyon-button {
    display: block;
    margin: 1rem auto;
    background: #4E5859;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 1.4rem;
    max-width: 250px;
    font-family: 'Flama', sans-serif;
    border: 2px solid;
    text-align: center;
}
.halcyon-button:hover {
    color: #4E5859;
    text-decoration: none;
    background: #fff;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 2.2rem;
    }
}

@media (min-width: 1200px) {
    .container{max-width:1200px}
    h2 {
        font-size: 3.6rem;
    }
    .halcyon-button {
        font-size: 1.6rem;
    }
}


/* Navigation styles */
.navWrapper {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #fff;
    top:0;
}

nav{
    position:relative
}

.navWrapper .navbar {
    margin: 0;
}
.navbar-dark .navbar-nav .dropdown-menu{
    background:#fff
}
.navbar-dark .dropdown-item:focus,.navbar-dark .dropdown-item:hover{
    filter:bightness(90%);
    transition-duration:.5s
}
.navbar-expand-lg .navbar-nav .nav-link{
    color:#333!important;
    text-transform:uppercase;
    font-size:1.4rem;
    letter-spacing:1px;
    transition-duration:.5s;
    font-family:'Flama'
}

.navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .nav-link:active,.navbar-dark .navbar-nav .nav-link:focus{
    color:#209056!important;
    transition-duration:.5s
}
.navbar-expand-lg .navbar-nav .nav-link.nav-phone{
    color:#209056!important;
    text-decoration:none;
    font-weight:600
}
.navbar-expand-lg .navbar-nav .nav-link.nav-phone:hover{
    color:#333!important
}

.navbar {
    box-shadow: rgba(0,0,0,0.28) 0px 3px 3px;
}
.navbar-dark .navbar-toggler{
    border:none;
    padding:0
}
nav .container {
    max-width:95% !important; 
    padding:0;
}
.navWrapper .navRow .nav-inner .nav-logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 15;
}

.navWrapper .navRow .nav-inner .nav-logo img {
    max-width: 140px;
}

.navWrapper .navRow .nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}
.navWrapper .navRow .nav-inner .left {
    display: flex !important;
    align-items: center;
}

.navWrapper .navRow .nav-inner .left .search-toggle {
    font-size: 2rem;
    padding-right: 1.5rem;
}
.navWrapper .navRow .nav-inner .navbar-collapse {
    width: 100%;
    position: fixed;
    left: 0px;
    background:#fff;
    top: 40px;
    padding: 4rem 0 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 3px 3px;
}
.navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item {
    border-bottom: 1px solid #707070;
    padding: 1rem 3rem;
}
.navWrapper .navRow .nav-inner .navbar-toggler {
    background: transparent;
    display: flex !important;
    align-items: center;
}

.navWrapper .navRow .nav-inner .navbar-toggler span {
    padding-right: 1rem;
    border: 0;
    font-family: 'Flama', sans-serif;
}

.navWrapper .navRow .nav-inner .navbar-toggler:focus {
    outline: none;
}
#eventsIcon {
    filter:invert(60%)
}
main.content {
    padding-top: 50px;
}
@media screen and (min-width: 768px) {
    .navWrapper .navRow .nav-inner .navbar-collapse {
        top: 0;
        padding: 0;
    }
    
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav {
        display: flex;
        align-items: baseline;
        margin-bottom: -20px;
        width: 100%;
        justify-content: center;
    }
    
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item {
        padding: 0;
        border-bottom: 0;
    }
    
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-link {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1rem;
    }
    
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav > div:nth-child(1n+4) {
        order: 4;
    }

    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo) {
        max-width: 70px;
        margin: 0 1rem;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo) img {
        max-height: 40px;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item.logo img {
        max-width: 200px;
    }
    main.content {
        padding-top: 46px;
    }
}

@media screen and (min-width: 1200px) {
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-link {
        font-size: 1.2rem;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo) {
        max-width: 85px;
        margin: 0 1.5rem;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item.logo img {
        max-width: 220px;
    }
    main.content {
        padding-top: 56px;
    }
}

/* Footer Styles */
footer{
    padding: 2rem 0 0;
    background-color:#EDECE2;
    color:#fff;
    text-transform:uppercase;
    background-image:url(../images/FEATHER.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top 12px;
}
#footerCopyright {
    background:#4E5859; 
    font-family: 'Flama', sans-serif;
    padding: .5rem 0;
}
footer .footer-heading {
    color:#4E5859; 
    text-align: center;
    padding-bottom: 1rem;
    letter-spacing: 5px;
    font-size: 2.8rem;
}
footer a,footer a:hover,footer a:active{
    color:#4F4B48;
}
footer .footer-nav {
    column-count: 2;
    padding-bottom: 1rem;
}
footer .footer-nav .nav-link {
    padding: 0 0 1.5rem;
    font-family: 'Flama', sans-serif;
    font-size: 1.2rem;
    display: block;
}
.sociallinks{
    text-align:right
}
footer .fab{
    font-size:20px!important;
    margin-left:5px;
    margin-top:6px;
    color:#fff
}
footer .fa:hover,footer a:hover{
    opacity:.9;
    text-decoration:none
}
footer > .container > .row {
    margin: 0;
}
@media screen and (min-width: 768px) {
    footer {
        background-position: center top 40%; 
    }
    footer .footer-heading {
        text-align: left;
        font-size: 3.6rem;
    }
    footer .footer-nav {
        column-count: 3;
        padding-bottom: 2rem;
        padding-left: 0;
    }
    footer .footer-nav .nav-link {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1200px) {
    footer .footer-heading {
        font-size: 4rem;
    }
}
/* Visibility Classes */

@media screen and (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}





