/* Global Styles */
@font-face {
    font-family: Flama;
    src: url(../fonts/Flama-Basic.ttf);
  }
  @font-face {
    font-family: Sony;
    src: url(../fonts/sony.ttf);
  }
body{
    font-family:'Sony',serif;
    margin:0;
    font-size:1.2rem;
}
div#root{
    height:100vh
}
#site{
    box-sizing:border-box;
    position:relative;
    min-height:100%;
    width:100%;
}
.container {
    width: 100%;
}
.padded{
    padding:60px 0
}

strong{
    font-weight:900
}

h1 {
    font-family: 'Flama', sans-serif;
}
h2{
    text-transform:uppercase;
    font-size:2rem;
}
h3 {
    font-family: 'Flama', sans-serif;
    font-size: 1.8rem;
}
h4 {
    font-family: 'Flama', sans-serif;
}
img {
    max-width:100%;
}

.single-page .content,
.contact .content,
.blog .content,
.single-blog .content{
    margin-top:52px;
    padding:0;
    min-height: 10vh;
}
.bg-success {
    background-color: #CDE2E0 !important;
    padding: 10px;
    font-size: 1.4rem;
}

.halcyon-button {
    display: block;
    margin: 1rem auto;
    background: #4E5859;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 1.4rem;
    max-width: 250px;
    font-family: 'Flama', sans-serif;
    border: 2px solid transparent;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    transition: .3s;
}
.halcyon-button:hover {
    color: #4E5859;
    text-decoration: none;
    background: #fff;
    border-color: #4E5859;
}
.halcyon-button.arrow {
    padding: 1rem 4rem 1rem 2rem;
    text-align: left;
    position: relative;
}
.halcyon-button.arrow:after {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    content: '';
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    transition: .3s;
}
.halcyon-button.arrow:hover:after {
    border-color: #4E5859;
    transform: translateX(3px)rotate(-45deg);
}

#loadMore {
    font-size: 2rem;
    font-family: 'Flama', sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    cursor: pointer;
}

#loadMore .icon {
    background: #8F1838;
    height: 50px;
    width: 50px;
    padding: 1.5rem;
    color: #fff;
    border-radius: 50%;
    margin-right: 1rem;
    box-shadow: 3px 3px 10px #aaa;
    transition: .3s;
}
#loadMore:hover .icon {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px #666;
}
@media screen and (min-width: 768px) {
    body {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 2.2rem;
    }
    .halcyon-button {
        display: inline-block;
        max-width: none;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 1.6rem;
    }
    .container{
        max-width:1200px
    }
    h2 {
        font-size: 3.6rem;
    }
    .halcyon-button {
        font-size: 1.6rem;
    }
}


/* Navigation styles */
.navWrapper {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #fff;
    top:0;
}

nav{
    position:relative
}

.navWrapper .navbar {
    margin: 0;
}
.navbar-dark .navbar-nav .dropdown-menu{
    background:#fff
}
.navbar-dark .dropdown-item:focus,.navbar-dark .dropdown-item:hover{
    filter:bightness(90%);
    transition-duration:.5s
}
.navbar-expand-lg .navbar-nav .nav-link{
    color:#333;
    text-transform:uppercase;
    font-size:1.4rem;
    letter-spacing:1px;
    transition-duration:.3s;
    font-family:'Flama'
}

.navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .nav-link:active,.navbar-dark .navbar-nav .nav-link:focus{
    /* color:#209056; */
    transition-duration:.3s
}
.navbar-expand-lg .navbar-nav .nav-link.nav-phone{
    /* color:#209056; */
    text-decoration:none;
    font-weight:600
}
.navbar-expand-lg .navbar-nav .nav-link.nav-phone:hover{
    color:#333;
}

.navbar {
    box-shadow: rgba(0,0,0,0.28) 0px 3px 3px;
}
.navbar-dark .navbar-toggler{
    border:none;
    padding:0
}
nav .container {
    max-width:95% !important; 
    padding:0;
}
.navWrapper .navRow .nav-inner .nav-logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 15;
}

.navWrapper .navRow .nav-inner .nav-logo img {
    max-width: 140px;
}

.navWrapper .navRow .nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}
.navWrapper .navRow .nav-inner .left {
    display: flex !important;
    align-items: center;
}

.navWrapper .navRow .nav-inner .left .search-toggle {
    font-size: 2rem;
    padding-right: 1.5rem;
}
.navWrapper .navRow .nav-inner .navbar-collapse {
    width: 100%;
    position: fixed;
    left: 0px;
    background:#fff;
    top: 40px;
    padding: 4rem 0 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 3px 3px;
}
.navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item {
    border-bottom: 1px solid #707070;
    padding: 1rem 3rem;
}
.navWrapper .navRow .nav-inner .navbar-toggler {
    background: transparent;
    display: flex !important;
    align-items: center;
}

.navWrapper .navRow .nav-inner .navbar-toggler span {
    padding-right: 1rem;
    border: 0;
    font-family: 'Flama', sans-serif;
}

.navWrapper .navRow .nav-inner .navbar-toggler:focus {
    outline: none;
}
.navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-link .nav-icon svg {
    height: 40px;
    max-width: 78px;
}
/* Nav Icon styles */
	
.nav-icon.directions .st0{
    fill:#58595B;
}
.nav-icon.dining .st0{
    fill:#58595B;
    stroke:#58595B;
    stroke-miterlimit:10;
}
.nav-icon.events .st0{
    fill:#58595B;
    stroke:#FFFFFF;
    stroke-width:0.5;
    stroke-miterlimit:10;
}
.nav-icon.events .st1{
    fill:#58595B;
    stroke:#FFFFFF;
    stroke-miterlimit:10;
}
.nav-icon.events .st2{
    fill:#58595B;
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-miterlimit:10;
}
.nav-icon.shopping .st0{
    fill:#58595B;
    stroke:#58595B;
    stroke-width:3;
    stroke-miterlimit:10;
}
/* CMX Colors */
.navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-icon.cmx .cls-1{
    fill:#cc5c22;
}
.navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-icon.cmx .cls-2{
    fill:#8a2432;
}
.navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-icon.cmx .cls-3{
    fill:#8c837b;
}
.navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-icon.cmx .cls-4{
    fill:#323e48;
}

main.content {
    padding-top: 82px;
}
@media screen and (min-width: 992px) {
    .navWrapper .navRow .nav-inner .navbar-collapse {
        top: 0;
        padding: 0;
    }
    
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav {
        display: flex;
        align-items: baseline;
        margin-bottom: -20px;
        width: 100%;
        justify-content: center;
    }
    
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item {
        padding: 0;
        border-bottom: 0;
    }
    
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-link {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1rem;
    }
    
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav > div:nth-child(1n+4) {
        order: 4;
    }

    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo) {
        max-width: 70px;
        margin: 0 1rem;
        padding: 0 1rem;
        position: relative;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo) img {
        max-height: 40px;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item.logo img {
        max-width: 200px;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-icon svg {
        height: 40px;
        width: 100%;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo) .nav-icon svg path,
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo) svg polygon,
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo) svg rect {
        transition: .3s;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo):hover .nav-icon:not(.sign-up) svg path,
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo):hover svg polygon,
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo):hover svg rect {
        fill: #fff;
        stroke: #fff;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo):hover .nav-icon.sign-up svg path {
        stroke: #fff;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo):hover {
        background: #8F1838;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo):hover .nav-link {
        color: #fff;
        text-decoration: none;
    }
    
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo):hover .nav-link:after {
        content: '';
        width: 100%;
        height: 7px;
    }
    
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo):hover .nav-icon:before {
        content: '';
        height: 9px;
        width: 70px;
        position: absolute;
        background: #8F1838;
        top: -9px;
        left: 0;
    }
    main.content {
        padding-top: 46px;
    }
}

@media screen and (min-width: 1200px) {
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-link {
        font-size: 1.15rem;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo) {
        max-width: 85px;
        margin: 0 1rem;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item.logo img {
        max-width: 220px;
    }
    main.content {
        padding-top: 52px;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item:not(.logo):hover .nav-icon:before {
        height: 14px;
        width: 85px;
        top: -14px;
    }
}

@media screen and (max-width:991px){
    main.content {
        padding-top: 52px !important;
    }
}

/* Footer Styles */
footer{
    padding: 2rem 0 0;
    background-color:#EDECE2;
    color:#fff;
    text-transform:uppercase;
    background-image:url(../images/FEATHER.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top 12px;
}
#footerCopyright {
    background:#4E5859; 
    font-family: 'Flama', sans-serif;
    padding: .5rem 0;
}
footer .footer-heading {
    color:#4E5859; 
    text-align: center;
    padding-bottom: 1rem;
    letter-spacing: 5px;
    font-size: 2.8rem;
}
footer a,footer a:hover,footer a:active{
    color:#4F4B48;
}
footer .footer-nav {
    column-count: 2;
    padding-bottom: 1rem;
}
footer .footer-nav .nav-link {
    padding: 0 0 1.5rem;
    font-family: 'Flama', sans-serif;
    font-size: 1.2rem;
    display: block;
}
.sociallinks{
    text-align:right
}
footer .fab{
    font-size:20px!important;
    margin-left:5px;
    margin-top:6px;
    color:#fff
}
footer .fa:hover,footer a:hover{
    opacity:.9;
    text-decoration:none
}
footer > .container > .row {
    margin: 0;
}
@media screen and (min-width: 768px) {
    footer {
        background-position: center top 40%; 
    }
    footer .footer-heading {
        text-align: left;
        font-size: 3.6rem;
    }
    footer .footer-nav {
        column-count: 3;
        padding-bottom: 2rem;
        padding-left: 0;
    }
    footer .footer-nav .nav-link {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1200px) {
    footer .footer-heading {
        font-size: 4rem;
    }
    .navbar {min-height:80px;}
}
/* Visibility Classes */

@media screen and (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
    main.content {
        padding-top: 52px;
    }
}

@media (min-width: 768px){
    div > .navbar-collapse.collapse {
        display: none!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: hidden!important;
    }
    div > .navbar-collapse.collapse.show {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: hidden!important;
    }
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav {width:100%;}
}
@media screen and (max-width:991) {
    .navWrapper .navRow .nav-inner .navbar-collapse .navbar-nav .nav-item.logo {display:none;}
}

@media (min-width:992px){
    div > .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
}

@media screen and (max-width:991px){
    .nav-logo.desktop {display:block;}
    .logo.mobile {display:none;}
}
@media screen and (min-width:992px){
    .nav-logo.desktop {display:none;}
}
.navbar-nav > div:nth-child(-n+4) {
   order:1 !important;
}
.logo {order:2;}
.navbar-nav > div:nth-child(n+6) {
    order:3 !important;
}