/* Home */

#searchBar {
    background:#8F1838;
     display:block; 
     width:100%;
}
#searchBar .container {
    display: flex;
    justify-content: space-evenly;
    height: 42px;
    align-items: center;
}
#searchBar a {
    color: #fff;
}
#searchBar .icon {
    font-size: 2.5rem;
}
.slick-slider {
    overflow:hidden;
}
.slick-dots {
    bottom:65px !important;
}
.slick-dots li button::before {
    height:40px; 
    width:40px;
    font-size:20px;
}
.slick-slide img {
    width:100%; 
    max-width:100%;
}
.card-columns {
    max-width:100%;
}
#home h1 {
    font-size: 2rem;
}
#home .top-cta {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
#home .heading-container {
    background: #CDE2E0;
    height: 54px;
    display: flex;
    align-items: center;
    margin: 0 0 1rem;
}
#home .heading-container h2 {
    margin: 0;
}
.image-grid-container {
    overflow: hidden;
}
@media screen and (min-width: 768px) {

    #searchBar .container a {
        display: flex;
        align-items: center;
        font-family: 'Flama', sans-serif;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    
    #searchBar .container a .icon {
        margin-right: 1rem;
    }
    
    #searchBar .container a p {
        margin: 0;
    }

    #searchBar .search-bar {
        border-radius: 5px;
        border: 0;
    }

    #home h1 {
        font-size: 2.4rem;
    }
    #home .top-cta {
        padding-bottom: 2rem;
    }
    .search-toggle {display:block !important;}
}

@media screen and (min-width: 1200px) {
    #home .heading-container {
        height: 72px;
    }
    #home .top-cta {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
}