/* Home */
#home h1 {
    font-size: 1.25rem;
}
#searchBar {
    background:#8F1838;
     display:block; 
     width:100%;
}
#searchBar .container {
    display: flex;
    justify-content: space-evenly;
    height: 42px;
    align-items: center;
}
#searchBar a {
    color: #fff;
}
#searchBar .icon {
    font-size: 1.5rem;
}
.slick-slider {
    overflow:hidden;
}
.slick-dots {
    bottom:65px !important;
}
.slick-dots li button::before {
    height:40px; 
    width:40px;
    font-size:20px;
}
.slick-slide img {
    width:100%; 
    max-width:100%;
}
.card-columns {
    max-width:100%;
}
#home .top-cta {
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}
#home .heading-container {
    background: #CDE2E0;
    height: 54px;
    display: flex;
    align-items: center;
    margin: 0 0 1rem;
}
#home .heading-container h2 {
    margin: 0;
}